<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="ARGON_MEMORY" value="1024"/>
        <env name="ARGON_TIME" value="1"/>
        <env name="ARGON_THREADS" value="1"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <!-- Banco: definido em .env.testing (MySQL/MariaDB). Para PostgreSQL:
             DB_CONNECTION=pgsql DB_PORT=5432 DB_USERNAME=postgres php artisan test -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SUPER_ADMIN_REQUIRES_2FA" value="false"/>
        <env name="PASSWORD_BREACH_CHECK" value="false"/>
    </php>
</phpunit>
